# Going from 8 Columns to 33 Columns and then Joining the Datas Together with Pandas

#### Where we are

In [1]:
import pandas as pd

pd.read_csv('las_vegas_2020-12-26.csv').sample(3)

,a,b,c,d,e,f,g,h
83,https://airbnb.com/rooms/45713616,NEW LISTING!! Work at home perfect master Bedr...,Private room in Las Vegas,1 guest · 1 bedroom · 1 bed · 1 private bath,$30 / night,Wifi·Selfcheck-in·Airconditioning·Pool,NaN,NaN
172,https://airbnb.com/rooms/16871560,Vegas Oasis - null - Las Vegas,Private room in Las Vegas,2 guests · 1 bedroom · 1 bed · 1 shared bath,$25 / night,Wifi·Airconditioning·Kitchen·Freeparking,Rating 4.64 out of 5;4.6496 reviews (96),96 reviews
253,https://airbnb.com/rooms/44465206,"Comfy & cozy guest room, 12 min away from stri...",Private room in Las Vegas,2 guests · 1 bedroom · 1 bed · 1 shared bath,$35 / night,Airconditioning·Kitchen,Rating 4.73 out of 5;4.7311 reviews (11),11 reviews

#### Where we want to go

In [2]:
pd.read_csv('las_vegas_2021-01-11.csv').sample(3)

,url,title,type,location,guests,bedrooms,beds,is_studio,baths,half_baths,...,kitchen_bool,breakfast_bool,elevator_bool,washer_bool,dryer_bool,heating_bool,waterfront_bool,dishwasher_bool,beachfront_bool,ski_in_ski_out_bool
12,https://airbnb.com/rooms/46596793,Artistic Boutique Hotel - King Bed,Room,boutique hotel,NaN,1,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,https://airbnb.com/rooms/42984256,"The Escondido, a Bed & Bay Inn (31 night min)",Entire house,Las Vegas,3.0,3,3.0,False,2.0,NaN,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,https://airbnb.com/rooms/47197033,Condo Next to Desert Shores,Entire condominium,Las Vegas,NaN,1,NaN,False,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.read_csv('las_vegas_2021-01-11.csv').columns

Index(['url', 'title', 'type', 'location', 'guests', 'bedrooms', 'beds',
       'is_studio', 'baths', 'half_baths', 'shared_baths', 'price',
       'avg_rating', 'n_reviews', 'gym_bool', 'wifi_bool',
       'self_check_in_bool', 'air_conditioning_bool', 'pets_allowed_bool',
       'indoor_fireplace_bool', 'hot_tub_bool', 'free_parking_bool',
       'pool_bool', 'kitchen_bool', 'breakfast_bool', 'elevator_bool',
       'washer_bool', 'dryer_bool', 'heating_bool', 'waterfront_bool',
       'dishwasher_bool', 'beachfront_bool', 'ski_in_ski_out_bool'],
      dtype='object')

In [4]:
pd.read_csv('las_vegas_2021-01-11.csv').n_reviews

0       NaN
1      46.0
2       NaN
3       NaN
4      19.0
       ...
295     6.0
296     4.0
297     NaN
298    70.0
299    12.0
Name: n_reviews, Length: 300, dtype: float64

## Let's get started
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html

In [5]:
df = pd.read_csv('las_vegas_2020-12-26.csv')

df.tail(2)

,a,b,c,d,e,f,g,h
298,https://airbnb.com/rooms/40331445,#2 cozy room near strip - null - Las Vegas,Private room in Las Vegas,2 guests · Studio · 1 bed · 1 shared bath,$20 / night,Wifi·Airconditioning·Kitchen·Freeparking,NaN,NaN
299,https://airbnb.com/rooms/16479650,P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6...,Entire serviced apartment in Las Vegas,6 guests · 1 bedroom · 3 beds · 1.5 baths,$586 / night,Gym·Elevator·Wifi·Selfcheck-in,Rating 4.76 out of 5;4.76103 reviews (103),103 reviews

#### Turning c into type & location

In [6]:
df['c'].str.split()

0                    [Private, room, in, Las, Vegas]
1                    [Entire, house, in, Las, Vegas]
2                    [Private, room, in, Las, Vegas]
3              [Entire, condominium, in, Las, Vegas]
4                [Entire, apartment, in, Las, Vegas]
                           ...
295              [Entire, townhouse, in, Las, Vegas]
296              [Entire, apartment, in, Las, Vegas]
297           [Entire, guest, suite, in, Las, Vegas]
298                  [Private, room, in, Las, Vegas]
299    [Entire, serviced, apartment, in, Las, Vegas]
Name: c, Length: 300, dtype: object

In [7]:
# I only wanted 2 things
df['c'].str.split(' in ')

0                   [Private room, Las Vegas]
1                   [Entire house, Las Vegas]
2                   [Private room, Las Vegas]
3             [Entire condominium, Las Vegas]
4               [Entire apartment, Las Vegas]
                        ...
295             [Entire townhouse, Las Vegas]
296             [Entire apartment, Las Vegas]
297           [Entire guest suite, Las Vegas]
298                [Private room, Las Vegas ]
299    [Entire serviced apartment, Las Vegas]
Name: c, Length: 300, dtype: object

In [8]:
df['c'].str.split(' in ')[0]

['Private room', 'Las Vegas']

In [9]:
# But I wanted 2 columns
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html#pandas.Series.str.split
df['c'].str.split(' in ', expand=True)[0]

0                   Private room
1                   Entire house
2                   Private room
3             Entire condominium
4               Entire apartment
                 ...
295             Entire townhouse
296             Entire apartment
297           Entire guest suite
298                 Private room
299    Entire serviced apartment
Name: 0, Length: 300, dtype: object

In [10]:
df['c'].str.split(' in ', expand=True)

                             0           1     2
0                 Private room   Las Vegas  None
1                 Entire house   Las Vegas  None
2                 Private room   Las Vegas  None
3           Entire condominium   Las Vegas  None
4             Entire apartment   Las Vegas  None
..                         ...         ...   ...
295           Entire townhouse   Las Vegas  None
296           Entire apartment   Las Vegas  None
297         Entire guest suite   Las Vegas  None
298               Private room  Las Vegas   None
299  Entire serviced apartment   Las Vegas  None

[300 rows x 3 columns]

In [11]:
df['c'].str.split(' in ', expand=True)[1]

0       Las Vegas
1       Las Vegas
2       Las Vegas
3       Las Vegas
4       Las Vegas
          ...
295     Las Vegas
296     Las Vegas
297     Las Vegas
298    Las Vegas
299     Las Vegas
Name: 1, Length: 300, dtype: object

In [12]:
type_location_values = df['c'].str.split(' in ', expand=True)

df['type'] = type_location_values[0]
df['location'] = type_location_values[1]

df

,a,b,c,d,e,f,g,h,type,location
0,https://airbnb.com/rooms/45827691,Great Room in a House close to the strip - nul...,Private room in Las Vegas,2 guests · 1 bedroom · 1 bed · 1 shared bath,$21 / night,Wifi·Airconditioning·Pool·Kitchen,Rating 4.80 out of 5;4.805 reviews (5),5 reviews,Private room,Las Vegas
1,https://airbnb.com/rooms/44685536,Cozy Studio with Private Entrance - null - Las...,Entire house in Las Vegas,2 guests · Studio · 1 bed · 1 bath,$46 / night,Wifi·Airconditioning·Kitchen·Freeparking,Rating 4.91 out of 5;4.9145 reviews (45),45 reviews,Entire house,Las Vegas
2,https://airbnb.com/rooms/45269857,Upstairs bedroom and private bath in Large Hou...,Private room in Las Vegas,2 guests · 1 bedroom · 1 bed · 2 shared baths,$31 / night,Wifi·Airconditioning·Kitchen·Freeparking,Rating 4.90 out of 5;4.9010 reviews (10),10 reviews,Private room,Las Vegas
3,https://airbnb.com/rooms/44416011,Eggeman 8 - null - Las Vegas,Entire condominium in Las Vegas,4 guests · 2 bedrooms · 3 beds · 1.5 baths,$51 / night,Wifi·Airconditioning·Pool·Kitchen,Rating 4.92 out of 5;4.9237 reviews (37),37 reviews,Entire condominium,Las Vegas
4,https://airbnb.com/rooms/40022023,"19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...",Entire apartment in Las Vegas,2 guests · Studio · 2 beds · 1 bath,$42 / night,Wifi·Airconditioning·Pool·Kitchen,Rating 4.75 out of 5;4.75103 reviews (103),103 reviews,Entire apartment,Las Vegas
...,...,...,...,...,...,...,...,...,...,...
295,https://airbnb.com/rooms/10660070,"Comfort done with style, $1799 per month - nu...",Entire townhouse in Las Vegas,6 guests · 2 bedrooms · 2 beds · 2 baths,$59 / night,Wifi·Selfcheck-in·Airconditioning·Pool,Rating 4.73 out of 5;4.7311 reviews (11),11 reviews,Entire townhouse,Las Vegas
296,https://airbnb.com/rooms/20969733,Corner 1bdrm Posh Luxury Condo Palms Kitchen...,Entire apartment in Las Vegas,6 guests · 1 bedroom · 2 beds · 1.5 baths,$142 / night,Gym·Elevator·Wifi·Selfcheck-in,Rating 4.56 out of 5;4.56227 reviews (227),227 reviews,Entire apartment,Las Vegas
297,https://airbnb.com/rooms/37427473,Paradise in Las Vegas (near to the airport) -...,Entire guest suite in Las Vegas,3 guests · 1 bedroom · 3 beds · 1 bath,$66 / night,Breakfast·Wifi·Airconditioning·Kitchen,Rating 4.81 out of 5;4.8197 reviews (97),97 reviews,Entire guest suite,Las Vegas
298,https://airbnb.com/rooms/40331445,#2 cozy room near strip - null - Las Vegas,Private room in Las Vegas,2 guests · Studio · 1 bed · 1 shared bath,$20 / night,Wifi·Airconditioning·Kitchen·Freeparking,NaN,NaN,Private room,Las Vegas
299,https://airbnb.com/rooms/16479650,P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6...,Entire serviced apartment in Las Vegas,6 guests · 1 bedroom · 3 beds · 1.5 baths,$586 / night,Gym·Elevator·Wifi·Selfcheck-in,Rating 4.76 out of 5;4.76103 reviews (103),103 reviews,Entire serviced apartment,Las Vegas

In [13]:
# we no longer need the c column
df.drop('c', inplace=True, axis=1)  # inplace for in place (updates the og dataframe), axis=1 for columns

df.sample(2)

,a,b,d,e,f,g,h,type,location
243,https://airbnb.com/rooms/29905174,Incredible private VEGAS OASIS with Pool&Spa W...,8 guests · 3 bedrooms · 3 beds · 2 baths,$227 / night,Wifi·Selfcheck-in·Airconditioning·Petsallowed,Rating 4.37 out of 5;4.37110 reviews (110),110 reviews,Entire villa,Las Vegas
236,https://airbnb.com/rooms/22177354,1500sqft HUGE 1BDRM PalmsPlace 2Balconies VEGA...,6 guests · 1 bedroom · 2 beds · 1.5 baths,$156 / night,Hottub·Pool·Wifi·Freeparking,Rating 4.74 out of 5;4.74123 reviews (123),123 reviews,Entire apartment,Las Vegas

#### Turning h into n_reviews

In [14]:
df.h

0        5 reviews
1       45 reviews
2       10 reviews
3       37 reviews
4      103 reviews
          ...
295     11 reviews
296    227 reviews
297     97 reviews
298            NaN
299    103 reviews
Name: h, Length: 300, dtype: object

In [15]:
df.h.str.split(expand=True)

       0        1
0      5  reviews
1     45  reviews
2     10  reviews
3     37  reviews
4    103  reviews
..   ...      ...
295   11  reviews
296  227  reviews
297   97  reviews
298  NaN      NaN
299  103  reviews

[300 rows x 2 columns]

In [16]:
# take just the number of reviews
df.h.str.split(expand=True)[0]

0        5
1       45
2       10
3       37
4      103
      ...
295     11
296    227
297     97
298    NaN
299    103
Name: 0, Length: 300, dtype: object

In [17]:
import numpy as np

# use numpy to make them float values
df.h.str.split(expand=True)[0].astype(np.float)

0        5.0
1       45.0
2       10.0
3       37.0
4      103.0
       ...
295     11.0
296    227.0
297     97.0
298      NaN
299    103.0
Name: 0, Length: 300, dtype: float64

In [18]:
df['n_reviews'] = df.h.str.split(expand=True)[0].astype(np.float)

# drop without inplace returns a dataframe, so overwrite the og
df = df.drop('h', axis=1)

df.sample(3)

,a,b,d,e,f,g,type,location,n_reviews
7,https://airbnb.com/rooms/41472772,Silverado Ranch area bedroom 2 - null - Las Vegas,2 guests · 1 bedroom · 1 bed · 1.5 shared baths,$24 / night,Wifi·Airconditioning·Kitchen·Selfcheck-in,Rating 4.74 out of 5;4.7431 reviews (31),Private room,Las Vegas,31.0
65,https://airbnb.com/rooms/42906233,"2B/2B, BY The Strip, Pool View Balcony (4C19)...",6 guests · 2 bedrooms · 2 beds · 2 baths,$84 / night,Hottub·Pool·Wifi·Freeparking,Rating 4.55 out of 5;4.5538 reviews (38),Entire apartment,Las Vegas,38.0
273,https://airbnb.com/rooms/45864357,PRIVATE ROOM QUEEN PILLOWTOP w POOL Near Strip...,2 guests · 1 bedroom · 1 bed · 1.5 shared baths,$39 / night,Pool·Wifi·Freeparking,Rating 5.0 out of 5;5.07 reviews (7),Private room,Las Vegas,7.0

#### Turn g into avg_rating

In [19]:
df['g']

0          Rating 4.80 out of 5;4.805 reviews (5)
1        Rating 4.91 out of 5;4.9145 reviews (45)
2        Rating 4.90 out of 5;4.9010 reviews (10)
3        Rating 4.92 out of 5;4.9237 reviews (37)
4      Rating 4.75 out of 5;4.75103 reviews (103)
                          ...
295      Rating 4.73 out of 5;4.7311 reviews (11)
296    Rating 4.56 out of 5;4.56227 reviews (227)
297      Rating 4.81 out of 5;4.8197 reviews (97)
298                                           NaN
299    Rating 4.76 out of 5;4.76103 reviews (103)
Name: g, Length: 300, dtype: object

In [20]:
df['g'].str.split(';', expand=True)

                        0                      1
0    Rating 4.80 out of 5      4.805 reviews (5)
1    Rating 4.91 out of 5    4.9145 reviews (45)
2    Rating 4.90 out of 5    4.9010 reviews (10)
3    Rating 4.92 out of 5    4.9237 reviews (37)
4    Rating 4.75 out of 5  4.75103 reviews (103)
..                    ...                    ...
295  Rating 4.73 out of 5    4.7311 reviews (11)
296  Rating 4.56 out of 5  4.56227 reviews (227)
297  Rating 4.81 out of 5    4.8197 reviews (97)
298                   NaN                    NaN
299  Rating 4.76 out of 5  4.76103 reviews (103)

[300 rows x 2 columns]

In [21]:
# take the right side because the number is longer
df['g'].str.split(';', expand=True)[1]

0          4.805 reviews (5)
1        4.9145 reviews (45)
2        4.9010 reviews (10)
3        4.9237 reviews (37)
4      4.75103 reviews (103)
               ...
295      4.7311 reviews (11)
296    4.56227 reviews (227)
297      4.8197 reviews (97)
298                      NaN
299    4.76103 reviews (103)
Name: 1, Length: 300, dtype: object

In [22]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)

           0        1      2
0      4.805  reviews    (5)
1     4.9145  reviews   (45)
2     4.9010  reviews   (10)
3     4.9237  reviews   (37)
4    4.75103  reviews  (103)
..       ...      ...    ...
295   4.7311  reviews   (11)
296  4.56227  reviews  (227)
297   4.8197  reviews   (97)
298      NaN      NaN    NaN
299  4.76103  reviews  (103)

[300 rows x 3 columns]

In [23]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0]

0        4.805
1       4.9145
2       4.9010
3       4.9237
4      4.75103
        ...
295     4.7311
296    4.56227
297     4.8197
298        NaN
299    4.76103
Name: 0, Length: 300, dtype: object

In [24]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0].astype(np.float32)

0      4.80500
1      4.91450
2      4.90100
3      4.92370
4      4.75103
        ...
295    4.73110
296    4.56227
297    4.81970
298        NaN
299    4.76103
Name: 0, Length: 300, dtype: float32

In [25]:
# make the avg_rating
df['avg_rating'] = df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0].astype(np.float32)

# forget the column it came from
df.drop('g', axis=1, inplace=True)

# show me a bit of the data
df.sample(3)

,a,b,d,e,f,type,location,n_reviews,avg_rating
23,https://airbnb.com/rooms/45439619,"Tahiti Village Bora, Bora in Las Vegas 1 BR Su...",4 guests · 1 bedroom · 2 beds · 1 bath,$61 / night,Hottub·Pool·Wifi·Freeparking,Entire condominium,Las Vegas,4.0,5.04000
114,https://airbnb.com/rooms/46308385,"Cozy guest room, 12 min away from strip. - nul...",2 guests · 1 bedroom · 1 bed · 1 shared bath,$ 32 / night,Airconditioning·Kitchen,Private room,Las Vegas,3.0,4.67300
87,https://airbnb.com/rooms/10685209,Luxury Room Just 9 mins to Strip - null - Las ...,3 guests · 1 bedroom · 1 bed · 1 private bath,$44 / night,Airconditioning·Pool·Kitchen·Freeparking,Private room,Las Vegas,392.0,4.86392

In [26]:
# are they all 4.902? 
df.avg_rating.unique()

array([4.805  , 4.9145 , 4.901  , 4.9237 , 4.75103, 5.04   , 4.93176,
       4.7431 , 4.74152, 4.9416 , 4.9626 , 4.8513 , 5.019  , 5.07   ,
       4.9111 ,     nan, 4.8733 , 4.5522 , 4.81409, 4.94172, 4.89164,
       4.90183, 4.852  , 4.8457 , 4.8271 , 4.867  , 4.4992 , 4.6316 ,
       4.7246 , 4.82103, 4.96104, 4.70183, 4.33168, 5.011  , 4.80399,
       5.03   , 4.91363, 4.6488 , 4.676  , 4.03   , 4.9455 , 5.09   ,
       4.5538 , 4.9155 , 4.4896 , 5.029  , 4.8962 , 4.801  , 4.9522 ,
       3.336  , 5.05   , 4.95113, 4.836  , 4.8928 , 4.4821 , 4.86392,
       4.577  , 4.9213 , 4.388  , 4.6713 , 4.63165, 4.72177, 4.56546,
       4.5549 , 4.673  , 4.9272 , 4.5413 , 4.8313 , 4.9166 , 4.333  ,
       4.77146, 4.8244 , 4.73146, 4.437  , 4.015  , 4.8148 , 4.72286,
       4.83162, 4.7929 , 4.18182, 5.024  , 4.8348 , 4.63209, 4.9135 ,
       4.54198, 4.1119 , 4.902  , 4.6496 , 4.7879 , 4.7754 , 5.06   ,
       4.90101, 4.605  , 5.016  , 4.3271 , 4.6365 , 4.96328, 5.031  ,
       4.8015 , 4.82247, 4.9251 , 4.9327 , 4.8238 , 4.701  , 3.805  ,
       4.3165 , 4.53244, 4.8312 , 4.7649 , 4.504  , 4.51285, 4.254  ,
       4.3938 , 4.74123, 5.041  , 4.7294 , 4.3711 , 4.75106, 4.4717 ,
       4.62218, 4.71173, 4.508  , 4.7311 , 4.5018 , 4.88437, 4.603  ,
       4.9526 , 4.2917 , 5.013  , 4.9541 , 4.899  , 4.7713 , 4.55144,
       4.9031 , 4.55104, 4.56227, 4.8197 , 4.76103], dtype=float32)

#### Turn a into url

In [27]:
df['url'] = df['a']

df.sample(3)

,a,b,d,e,f,type,location,n_reviews,avg_rating,url
143,https://airbnb.com/rooms/45724491,"NEW! Airy & Clean, Sleeps 6, By The Strip(4C06...",6 guests · 2 bedrooms · 2 beds · 2 baths,$78 / night,Wifi·Airconditioning·Pool·Kitchen,Entire apartment,Las Vegas,7.0,4.43700,https://airbnb.com/rooms/45724491
201,https://airbnb.com/rooms/39870034,Beautiful aparment - null - Las Vegas,2 guests · Studio · 2 beds · 1 bath,$53 / night,Wifi·Airconditioning·Petsallowed·Kitchen,Entire house,Las Vegas,164.0,4.89164,https://airbnb.com/rooms/39870034
129,https://airbnb.com/rooms/39168993,"Nasalga's Place, room #2 - null - Las Vegas",2 guests · 1 bedroom · 1 bed · 1 private bath,$25 / night,Wifi·Airconditioning·Pool·Kitchen,Private room,Las Vegas,33.0,4.87330,https://airbnb.com/rooms/39168993

In [28]:
df.drop('url', axis=1, inplace=True)

Or try [.rename()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [29]:
# first argument of .rename() is mapper which should be a dict
df = df.rename({'a':'url'}, axis=1)  # you could turn on inplace=True for this

df.sample(3)

,url,b,d,e,f,type,location,n_reviews,avg_rating
163,https://airbnb.com/rooms/47026531,Amenity Packed House in North Las Vegas - null...,2 guests · 1 bedroom · 2 beds · 1 shared bath,$45 / night,Gym·Wifi·Selfcheck-in·Airconditioning,Private room,North Las Vegas,NaN,NaN
71,https://airbnb.com/rooms/44504701,Your own resort-like condo with king size bed ...,4 guests · 2 bedrooms · 2 beds · 2 baths,$56 / night,Hottub·Pool·Wifi·Freeparking,Entire condominium,Las Vegas,NaN,NaN
108,https://airbnb.com/rooms/28209808,Private place close to Fremont Street! G67-008...,2 guests · 1 bedroom · 2 beds · 1 private bath,$ 40 / night,Wifi·Selfcheck-in·Airconditioning·Petsallowed,Private room,Las Vegas,152.0,4.74152

#### Turning b into title

In [30]:
df.b

0      Great Room in a House close to the strip - nul...
1      Cozy Studio with Private Entrance - null - Las...
2      Upstairs bedroom and private bath in Large Hou...
3                           Eggeman 8 - null - Las Vegas
4      19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...
                             ...
295    Comfort done with style,  $1799 per month - nu...
296    Corner 1bdrm  Posh  Luxury Condo Palms Kitchen...
297    Paradise in Las Vegas (near  to the airport) -...
298          #2 cozy room near strip - null - Las Vegas
299    P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6...
Name: b, Length: 300, dtype: object

In [31]:
# split of the - null - 
df.b.str.split(' - null - ')

0      [Great Room in a House close to the strip, Las...
1         [Cozy Studio with Private Entrance, Las Vegas]
2      [Upstairs bedroom and private bath in Large Ho...
3                                 [Eggeman 8, Las Vegas]
4      [19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Ol...
                             ...
295    [Comfort done with style,  $1799 per month, La...
296    [Corner 1bdrm  Posh  Luxury Condo Palms Kitche...
297    [Paradise in Las Vegas (near  to the airport),...
298                [#2 cozy room near strip, Las Vegas ]
299    [P 58 Penthouse w/Jacuzzi on Balcony | Sleeps ...
Name: b, Length: 300, dtype: object

In [32]:
df.b.str.split(' - null - ', expand=True)

                                                     0           1
0             Great Room in a House close to the strip   Las Vegas
1                    Cozy Studio with Private Entrance   Las Vegas
2     Upstairs bedroom and private bath in Large House   Las Vegas
3                                            Eggeman 8   Las Vegas
4    19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...   Las Vegas
..                                                 ...         ...
295          Comfort done with style,  $1799 per month   Las Vegas
296   Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U   Las Vegas
297       Paradise in Las Vegas (near  to the airport)   Las Vegas
298                            #2 cozy room near strip  Las Vegas
299     P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6   Las Vegas

[300 rows x 2 columns]

In [33]:
# another way to rename columns
thing = df.b.str.split(' - null - ', expand=True)

thing.columns = ['title', 'location']

thing

                                                 title    location
0             Great Room in a House close to the strip   Las Vegas
1                    Cozy Studio with Private Entrance   Las Vegas
2     Upstairs bedroom and private bath in Large House   Las Vegas
3                                            Eggeman 8   Las Vegas
4    19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...   Las Vegas
..                                                 ...         ...
295          Comfort done with style,  $1799 per month   Las Vegas
296   Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U   Las Vegas
297       Paradise in Las Vegas (near  to the airport)   Las Vegas
298                            #2 cozy room near strip  Las Vegas
299     P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6   Las Vegas

[300 rows x 2 columns]

In [34]:
# how you'd do it in 1 line
df['obnoxious_title'] = df.b.str.split(' - null - ', expand=True).rename({0:'title', 1:'location'}, axis=1)['title']

df['obnoxious_title']

0               Great Room in a House close to the strip
1                      Cozy Studio with Private Entrance
2       Upstairs bedroom and private bath in Large House
3                                              Eggeman 8
4      19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...
                             ...
295            Comfort done with style,  $1799 per month
296     Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U
297         Paradise in Las Vegas (near  to the airport)
298                              #2 cozy room near strip
299       P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6
Name: obnoxious_title, Length: 300, dtype: object

In [35]:
# a more readable way to do it
thing = df.b.str.split(' - null - ', expand=True)

thing.columns = ['title', 'location']

df['b'] = thing['title']

df.rename({'b':'title'}, axis=1, inplace=True)

df.sample(2)

,url,title,d,e,f,type,location,n_reviews,avg_rating,obnoxious_title
134,https://airbnb.com/rooms/20672436,Private guest house in upscale neighborhood,2 guests · 1 bedroom · 1 bed · 1 bath,$39 / night,Wifi·Selfcheck-in·Airconditioning·Freeparking,Entire guesthouse,Las Vegas,146.0,4.77146,Private guest house in upscale neighborhood
84,https://airbnb.com/rooms/31035452,"Luxurious, Clean and spacious Condo in Las Vegas",4 guests · 1 bedroom · 2 beds · 1 bath,$71 / night,Gym·Elevator·Wifi·Selfcheck-in,Entire serviced apartment,Las Vegas,28.0,4.89280,"Luxurious, Clean and spacious Condo in Las Vegas"

#### Now what about f?
Needs to transform into 19 bool columns...

In [36]:
df.f.str.split('·')

0             [Wifi, Airconditioning, Pool, Kitchen]
1      [Wifi, Airconditioning, Kitchen, Freeparking]
2      [Wifi, Airconditioning, Kitchen, Freeparking]
3             [Wifi, Airconditioning, Pool, Kitchen]
4             [Wifi, Airconditioning, Pool, Kitchen]
                           ...
295      [Wifi, Selfcheck-in, Airconditioning, Pool]
296              [Gym, Elevator, Wifi, Selfcheck-in]
297      [Breakfast, Wifi, Airconditioning, Kitchen]
298    [Wifi, Airconditioning, Kitchen, Freeparking]
299              [Gym, Elevator, Wifi, Selfcheck-in]
Name: f, Length: 300, dtype: object